@font-face {
    src: url(font/SVN-Product-Sans-Bold.ttf);
    src: url(font/SVN-Product-Sans-Regular.ttf);
    font-family: SVN-Product-Sans-Bold,  SVN-Product-Sans-Regular;

}
#fb_icon {
    padding: 25px 40px 25px 30px;
    height: 30px;
    width: 15px;
}
#yt_icon {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 25px;
    height: 30px;
    width: 40px;
}
#ins_icon {
    padding-top: 30px;
    padding-bottom: 25px;
    height: 30px;
    width: 30px;
}
#footer {
    height: 715px;
    width: 1340px;
    background-color: #15152E;
}
#footer_table1 {
    padding-top: 90px;
    margin-left: 25px;
    margin-right: 25px;
    color: #8D6671;
}
#table_border {
    padding-top: 30px;
    border-bottom:  3px solid #8D6671;
}
.footer_th {
    font-family: SVN-Product-Sans-Bold;
    font-size: 27.79px;
    padding-right: 117px;
}
.footer_th4 {
    font-family: SVN-Product-Sans-Bold;
    font-size: 27.79px;
}
#footer_table2 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    color: #8D6671;
}
#ft2_td2 {
    padding-bottom: 113px;
    padding-left: 82px;
}
#ft2_td3 {
    padding-bottom: 81px;
    padding-left: 215px;
}
#ft2_td4 {
    padding-bottom: 96px;
    padding-left: 90px;
}
#footer_end {
    margin-top: 120px;
    height: 147px;
    width: 1340px;
    background-color: #8d667149;
    color: #8D6671;
}
#footer_end_text {
    padding-left: 70px;
    padding-top: 63px;
}
#contact_button {
    margin-left: 1100px;
    height: 46px;
    width: 184px;
    background-color: #8D6671;
    border: none;
    color: #1C1C2B;
    font-size: 29.43px;
}