@font-face {
    font-family: PSBold;
    src: url('../../public/font/SVN-Product\ Sans\ Regular.otf');

}
@font-face {
    font-family: PSRegular;
    src: url(../../public/font/SVN-Product\ Sans\ Regular.otf);

}

.blogs {
    margin: 0;
    padding: 0;
    /* height: 10000px; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* CSS for Top IMG Field */

.blogs_imgField {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 550px;
    position: relative;
    background-image: url("../assets/img/blog-img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 99999px rgba(0, 120, 255, 0.5);
    margin-bottom: 100px;

}

#blogs {
    font-family: PSRegular;
    font-size: 130px;
    text-align: left;
    margin-top: 285px;
    padding-left: 85px;
    color: white;
}

/* CSS for FORM */

.blogs_secondField {
    width: 100%;
    margin-top: -40px;
    display: flex;
    flex-direction: row;
}

.blogs_container {
    width: 37%;
    background-color: rgba(183, 156, 156, 0.386);
    margin-left:10%;
}

.blogs_title {
    font-family: PSRegular;
    font-size: 28px;
    margin-left: 130px;
    padding-top: 50px;
    margin-bottom: 5px;
}

.Blogs-sub_title {
    font-family: PSRegular;
    font-size: 15px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.blogs_container form {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

#details {
    width: 100%;
    line-height: 33px;
    font-family: PSRegular;
    font-size: 15px;
    color: #8D6671;
}

.details {
    width: 30%;
}

.input_box input {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    color: #15152E;
    width: 100%;
}

.button {
    width: 100%;
}

.button input {
    width: 30%;
    margin-left: 150px;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
    border: none;
    background-color: #ece8a2cd;
    color: #cf7f96;
    font-family: PSRegular;
    font-size: 20px;
}

.blogs_SecondContainer {
    width: 50%;
    padding-left: 200px;
    font-family: PSRegular;
}

#SecondContainer_img {
    width: 70%;
    height: 250px;
}

.Secondbox {
    width: 70%;
    border: 2px solid black;
    border-top: none;
}

#boxTitle {
    padding-top: 22px;
    margin-left: 40px;
    font-size: 20px;
    margin-bottom: 10px;
}

.Secondbox ul {
    margin-left: 77px;
    line-height: 26px;
    font-size: 14px;
    color: #8D6671;
    padding-bottom: 20px;
}

.blogs_ThirdField {
    margin-top: 80px;
    width: 100%;
    height: 1300px;
    background-color: #15152E;
}

.blogs_ThirdField-title {
    font-family: PSBold;
    font-size: 100px;
    margin-left: 70px;
    margin-top: -30px;
    margin-bottom: 40px;
    color: #b8909b;
}

.blogs_ThirdField-news {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 280px;
}

.blogs_ThirdField-news_lines {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-left: 120px;
}

.blogs_-news {
    width: 25%;
    height: 100px;
    font-family: PSRegular;
    color: #cf7f96;
    align-content: center;
    margin-right: 70px;
}

.blogs_ThirdField-news_lines-date {
    font-size: 15px;
    margin-bottom: 10px;
}

.blogs_ThirdField-news_lines-title {
    font-size: 18px;
    color: #cf7f96;
}

.blogs_-news img {
    width: 100%;
    height: 200px;
    margin-bottom: 8px;
    transition: 0.5s all ease-in-out;
}

.blogs_-news img:hover {
    transform: scale(1.5);
} 

.blogs_Forthfield {
    width: 100%;
}

.blogs_Forthfield_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 90px;
}

.blogs_Forthfield_title {
    width: 30%;
    font-family: PSRegular;
    color: #15152E;
    font-size: 80px;
    margin-left: 110px;
    margin-top: 30px;
}

.blogs_Forthfield_header-line {
    border: 3px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 50%;
    margin-top: 100px;
    margin-left: 50px;
}

.blogs_Forthfield-content {
    width: 100%;
}

.blogs_Forthfield-content_container {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 170px;
    margin-bottom: 80px;
}

.blogs_Forthfield-content_container img {
    width: 25%;
    height: 250px;
}

.blogs_Forthfield-content_container_text {
    margin-left: 20px;
    width: 80%;
}

.blogs_Forthfield-content_container_text-title {
    font-family: PSRegular;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.blogs_Forthfield-content_container_text-subtitle {
    font-family: PSRegular;
    font-size: 25px;
}