@font-face {
    font-family: SVN-Product-Sans-Bold;
    src: url("../../public/font/SVN-Product\ Sans\ Regular.otf");

}

@font-face {
    font-family: SVN-Product-Sans-Regular;
    src: url("../../public/font/SVN-Product\ Sans\ Regular.otf");

}

#gtkl_s1 {
    background-color: white;
    height: 1350px;
    width: 100%;
}

#gtkl_s1_img {
    display: inline-block;
    vertical-align: top;
    padding-left: 154.5px;
    padding-top: 100px;
}

.gtkl_s1_text {
    color: #15152E;
}

#gtkl_s1_intro_header {
    display: inline-block;
    font-family: SVN-Product-Sans-Bold;
    font-size: 64.67pt;
    padding-left: 5%;
    /* padding-right: 154.5px; */
    padding-top: 95px;
}

.gtkl_s1_paragraphs {
    font-family: SVN-Product-Sans-Regular;
    font-size: 14pt;
    padding-left: 140px;
    padding-top: 25px;
}

#gtkl_s1_img_footer {
    font-family: SVN-Product-Sans-Regular;
    font-size: 8.8pt;
    padding-top: 15px;
    padding-left: 154.5px;
}

#gtkl_s1_icons_row {
    padding-top: 100px;
}

.gtkl_s1_icons_class {
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    height: 15px;
}

#gtkl_s1_closed_mail {
    margin-left: 124.5px;
}

#gtkl_s1_email_row {
    padding-left: 154.5px;
    padding-top: 25px;
}

#gtkl_s1_open_mail_icon {
    display: inline-block;
    vertical-align: top;
    width: 20px;
}

#gtkl_s1_email_acc {
    display: inline-block;
    padding-left: 30px;
    padding-top: 5px;
    font-family: SVN-Product-Sans-Regular;
    font-size: 8.9pt;
}

#gtkl_s1_qtgd_header {
    font-family: SVN-Product-Sans-Bold;
    font-size: 38.23pt;
    padding-left: 240px;
    padding-top: 95px;
    padding-bottom: 50px;
}

.gtkl_s1_dots {
    padding-right: 30px;
}

.gtkl_s1_qtgd_list {
    font-family: SVN-Product-Sans-Regular;
    font-size: 14pt;
    padding-left: 446px;
    padding-bottom: 30px;
}

#gtkl_s2 {
    background-color: #15152E;
    width: 100%;
    height: 850px;
}

#gtkl_s2_white_part {
    background-color: white;
    height: 15px;
    width: 100%;
}

#gtkl_s2_science_research {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.gtkl_s2_dots {
    padding-right: 30px;
}

#gtkl_s2_sr_body {
    margin-top: 250px;
}

.gtkl_s2_sr_list {
    font-family: SVN-Product-Sans-Regular;
    color: white;
    font-size: 17.46pt;
    padding-bottom: 20px;
    margin-left: 9%;
    margin-right: 9%;
}

#gtkl_s3 {
    background-color: white;
    height: 4350px;
    width: 100%;
}

.gtkl_s3_text {
    color: #15152E;
}

#gtkl_s3_header1 {
    font-family: SVN-Product-Sans-Bold;
    font-size: 38.23pt;
    padding-left: 170px;
    padding-top: 130px;
}

.gtkl_s3_dots {
    padding-right: 30px;
}

#gtkl_s3_body1 {
    margin-top: 65px;
}

.gtkl_s3_list {
    font-family: SVN-Product-Sans-Regular;
    font-size: 12.08pt;
    padding-bottom: 30px;
    padding-left: 13%;
    padding-right: 13%;
}

#gtkl_s3_header2 {
    font-family: SVN-Product-Sans-Bold;
    font-size: 38.23pt;
    padding-left: 170px;
    padding-top: 100px;
}

.gtkl_s3_dots {
    padding-right: 30px;
}

#gtkl_s3_body2 {
    margin-top: 65px;
}

#gtkl_s4 {
    background-color: #15152E;
    height: 460px;
    width: 100%;
}

#gtkl_s4_white_part {
    background-color: white;
    height: 50px;
    width: 100%;
}

#gtkl_s4_patent_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#gtkl_s4_text {
    color: white;
    font-family: SVN-Product-Sans-Bold;
    font-size: 19.5pt;
    padding-left: 5.5%;
    padding-right: 5.5%;
    padding-top: 18%;
}

#gtkl_s5 {
    background-color: white;
    height: 430px;
    width: 100%;
}

#gtkl_s5_blue_part {
    background-color: #15152E;
    height: 25px;
    width: 100%;
}

#gtkl_s5_books {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 990px;
}

#gtkl_s5_text {
    color: #15152E;
    font-family: SVN-Product-Sans-Bold;
    font-size: 19.25pt;
    padding-left: 5.5%;
    padding-right: 5.5%;
    padding-top: 18%;
}

.gtkl_s5_dots {
    padding-right: 30px;
}

.gtkl_s5_list {
    padding-bottom: 20px;
}

#gtkl_s6 {
    background-color: #15152E;
    height: 1200px;
    width: 100%;
}

#gtkl_s6_white_part {
    background-color: white;
    height: 25px;
    width: 100%;
}

#gtkl_s6_praise {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 990px;
}

#gtkl_s6_text {
    color: white;
    font-family: SVN-Product-Sans-Bold;
    font-size: 19.5pt;
    padding-left: 8.5%;
    padding-right: 8.5%;
    padding-top: 30%;
}

.gtkl_s6_dots {
    padding-right: 30px;
}

.gtkl_s6_list {
    padding-bottom: 20px;
}