* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.GioiThieu {
  width: 100%;
  color:#202045;
  background-color: #f4e1d7;
}  
.gioithieu-block1 {
  width: 100%;
  background-image: url("../assets/img/background_gioithieu_1.png");
  padding-bottom: 4rem;
}

.both-img12 .img1 {
  opacity: 0.2;
  position: relative;
  top: 10rem;
  left: 15rem;
  max-width: 1480px;

  width: 50%;
}

.both-img12 .img2 {
  position: absolute;
  width: 50%;
  left: 4em;
  top: 10rem;
  opacity: 1;
}
.biglogo{
  position: absolute;
  color: white;
  font-size: 20px;
  left: 55rem;
  top: 25rem;
}
.gioithieu_text1 {
  margin-top: 7rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.gioithieu-block2 {
  width: 100%;
  position: relative;
  padding-bottom: 15rem;
  padding-top: 8rem;
}
.gioithieu-block2::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("../assets/img/background_gioithieu_2.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.column-layout {
  width: 80%;
  display: flex;

  margin-left: auto;
  margin-right: auto;

  justify-content: space-between;
}
.column-item {
  padding: 0 16px;
  justify-content: space-evenly;
  flex-basis: 20%;
  text-align: center;
}
.gioithieu-block3{
    padding: 2rem 5rem ;
    position: relative;
}
.school_icon{
    position: absolute;
    top: 0;
    left: 45%;
}
.gioithieu_text3{
  width: 45%;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 15px;
}
.gioithieu-block4{
  padding: 7rem 5rem ;
  position: relative;
  text-align: right;
  
}
.gioithieuicon_block4{
  position: absolute;
    top: 5%;
    left: 45%;
  
}
.gioithieu_text4{
  width: 45%;
  position: absolute;
  top: 40%;
  right: 50%;
  font-size: 15px;
}

