@font-face {
    font-family: SVN-Product-Sans-Bold;
    src: url("../../public/font/SVN-Product\ Sans\ Regular.otf");
}

@font-face {
    font-family: SVN-Product-Sans-Regular;
    src: url("../../public/font/SVN-Product\ Sans\ Regular.otf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-hocphi{
    width: 100%;
}

.both-img-content{
    width: 100%;
}

.both-img-content img {
    width: 100%;
}

.title-img{
    position: absolute;
    right: 10rem;
    top: 20rem;
    line-height: 10rem;
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: SVN-Product-Sans-Bold;
}

.title-content{
    font-size: 18px;
    text-align: left;
    width: 59%;
    font-family: SVN-Product-Sans-Regular;
    margin: 2rem auto 6rem;
    letter-spacing: 0.5px;
}

.content-hocphi{
    margin-left: 5rem;
}

.p1 {
    font-family: SVN-Product-Sans-Bold;
    font-size: 35px;
    margin-bottom: 2rem;
    margin-left: 3rem;
}

.content-hocphi1{
    display: flex;
    width: 100%;
    margin-left: 3rem;
}

.both-content1 {
    width: 50%;
    margin-top: 13rem;
    margin-left: 5rem;
}

.both-content1 p{
    font-size: 35px;
    margin-left: 3rem;
    margin-bottom: 1rem;
    font-family: SVN-Product-Sans-Bold;
}

.both-content1 ol{ 
    font-family: SVN-Product-Sans-Regular;
    margin-top: 30px;
    margin-left: 4rem;
    width: 90%;
    font-size: 18px;
}

.both-content1 li + li {
    margin-top: 1rem;
}

.content-hocphi2{
    display: flex;
    width: 100%;
}

.content-hocphi2 img{
    margin-left: 4rem;
}

.both-content2 {
    width: 50%;
    margin-top: 13rem;
    margin-left: 4rem;
}

.both-content2 p{
    font-size: 35px;
    font-family: SVN-Product-Sans-Bold;
    margin-bottom: 1rem;
}

.both-content2 ol{ 
    font-family: SVN-Product-Sans-Regular;
    margin-top: 30px;
    width: 100%;
    font-size: 18px;
}

.both-content2 li + li {
    margin-top: 1rem;
}

.girl{
    margin-top: 9rem;
    margin-left: 5rem;
    width: 80%;
    position: relative;
}

.background-girl{
    width: 90%;
    position: absolute;
    top: 254rem;
    left: 12.5rem;
    z-index: -1;
    height: 944px;
    background-color: #ddd1d4;
    margin-bottom: 20px;
}

.background-girl2{
    width: 70%;
    height: 100rem;
    position: absolute;
    z-index: -1;
    top: 280.22rem;
    left: 0;
    background-color: #d5c6ca;
    opacity: 30%;
}

.content-hocphi3{
    list-style: none;
    font-family: SVN-Product-Sans-Regular;
    width: 70%;
    margin-left: 11rem;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.content-hocphi3 li + li{
    margin-top: 20px;
}
