@font-face {
    font-family: SVN-Product-Sans-Bold;
    src: url("../../public/font/SVN-Product\ Sans\ Regular.otf");
}

@font-face {
    font-family: SVN-Product-Sans-Regular;
    src: url("../../public/font/SVN-Product\ Sans\ Regular.otf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    width: 100%;
}

.huong1{
    display: flex;
    position: relative;
    top: 100px;
    justify-content: space-evenly;
}

.huong2 {
    width: 20%;
    z-index: -1;
}

.content-huong{
    width: 40%;
    z-index: 1;
}

.content-huong .content-huong1{
    margin-top: 20px;
    margin-left: -8rem;
    margin-bottom: 30px;
    font-size: 60px;
}

.content-huong p {
    width: 90%;
    font-size: 18px;
}

.content-img{
    margin-top: 7rem;
    margin-left: 15rem;
    font-size: 18px;
}

.info-huong{
    width: 30%;
    margin-left: 16rem;
    margin-top: 2rem;
}

.icon{
    height: 25px;
}

.icon + .icon{
    margin-left: 2.5rem;
}

.mail-huong{
    display: flex;
    width: 17%;
    margin-left: 13.5rem;
    margin-top: 25px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

.icon-mail{
    height: 25px;
}

.content-huong1{
    width: 50%;
    position: relative;
    top: 20px;
    left: 20px;
    max-width: 79%;
    text-align: left;
}

.content-huong1 p {
    font-size: 30px;
}

.content12{
    width: 100%;
    position: relative;
    top: 20px;
    left:240px;
    margin-bottom: 7rem;
}

.content12 p{
    font-size: 38px;
    margin-bottom: 30px;
}

.content12 ul{
    margin-left: 90px;
    font-size: 18px;
    line-height: 50px;
}

.background-blue{
    width: 100%;
    height: 26rem;
    background: #202045;
    color: white;
    margin-bottom: 7rem;
}

.background-blue h2{
    text-align: center;
    font-size: 70px;
    letter-spacing: 5px;
    padding-top: 30px;
}

.background-blue ul{
    margin: 30px auto 10px;
    font-size: 18px;
    width: 70%;
}

.background-blue li + li{
    margin-top: 20px;
}

.content-bc{
    width: 100%;
    position: relative;
    top: 20px;
    left:240px;
    margin-bottom: 7rem;
}

.content-bc p{
    font-size: 38px;
    margin-bottom: 30px;
}

.content-bc ul{
    width: 68%;
    margin-left: 90px;
    font-size: 18px;
}
.content-bc li + li{
    margin-top: 20px;
}

.background-blue2{
    background-color: #202045;
    width: 100%;
    height: 20rem;
    color: white;
}

.background-blue2{
    width: 100%;
    height: 23rem;
    background: #202045;
    color: white;
    margin-bottom: 3rem;
}

.background-blue2 h2{
    text-align: center;
    font-size: 70px;
    letter-spacing: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.background-blue2 ul{
    margin: 30px auto 10px;
    font-size: 18px;
    width: 70%;
}

.background-blue2 li + li{
    margin-top: 20px;
}

.content-fn{
    width: 100%;
    position: relative;
    top: 20px;
    left:240px;
    margin-bottom: 7rem;
}

.content-fn h2{
    font-size: 38px;
    margin-bottom: 30px;
}

.content-fn ul{
    width: 68%;
    margin-left: 90px;
    margin-top: 20px;
    font-size: 18px;
}
.content-fn li + li{
    margin-top: 20px;
}