.scholarship_block1{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 7rem;
}
.gioithieu{
    width: 50%;
}
.lienhe{
width: 50%;
   padding-top: 5rem;
}
.scholarship_block2{
    width: 100%;
    padding-left: 7rem;
    padding-right: 7rem;
}
.list_scholarship_item{
    width: 100%;
    padding: 1rem 2rem;
    background-color: #8D6671;
    margin-top: 2rem;
    font-size: 20px;
    cursor: pointer;
}
.list_scholarship_item:hover{
    background-color: #845B68;
}
.list_scholarship_item:active{
    background-color: #845B68;
}
.detail{
    font-size: 17px;
    margin-top: 10px;
    transition: 1s;
}