@font-face {
    font-family: SVN-Product-Sans-Bold;
    src: url("../../public/font/SVN-Product\ Sans\ Regular.otf");

}

@font-face {
    font-family: SVN-Product-Sans-Regular;
    src: url("../../public/font/SVN-Product\ Sans\ Regular.otf");

}
#submit_profile_s1 {
    background-color: white;
    height: 42.813rem;
    width: 100%;
}
#submit_profile_s1 {
    background-image: url("../assets/img/submit_profile_s1_background_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 42.813rem;
    width: 100%;
}
#submit_profile_s2 {
    background-color: white;
    height: 130rem;
    width: 100%;
}
.submit_profile_blue_text {
    color: #15152E;
}
#submit_profile_s2_header {
    font-family: SVN-Product-Sans-Bold;
    font-size: 44.03pt;
    padding-top: 50px;
    width: 97%;
    margin: auto;
}
.submit_profile_s2_small_blue_text {
    color: #15152E;
    font-family: SVN-Product-Sans-Regular;
    font-size: 8.5pt;
    padding-bottom: 25px;
}
#submit_profile_s2_grey_part {
    background-color: #d4c8ca;
    margin-top: 50px;
    height: 37.5rem;
    width: 80%;
}
#submit_profile_s2_body {
    width: 87%;
    margin: auto;
    padding-top: 30px;
}
#submit_profile_s2_list_part1 {
    margin-left: 55px;
}
.submit_profile_s2_dots {
    padding-right: 15px;
}

.submit_profile_s2_list {
    padding-bottom: 10px;
}
#submit_profile_s2_list_part2 {
    padding-top: 10px;
    margin-left: 55px;
}
.submit_profile_s2_dots {
    padding-right: 15px;
}

.submit_profile_s2_list {
    padding-bottom: 5px;
}
#submit_profile_s2_contacts_info {
    width: 87%;
    text-align: end;
}
#submit_profile_s2_contacts_info_header {
    color: #8D6671;
    font-family: SVN-Product-Sans-Bold;
    font-size: 28.58pt;
    margin-top: 60px;
    margin-bottom: 30px;
}
#submit_profile_s2_contacts_info_col1 {
    display: inline-block;
    vertical-align: top;
    margin-right: 105px;
}
#submit_profile_s2_contacts_info_col2 {
    display: inline-block;
}
#submit_profile_s2_mid_border {
    border-bottom: solid #8D6671 3px;
    width: 90%;
    margin: auto;
    margin-top: 90px;
}
#submit_profile_s2_p2 {
    width: 90%;
    margin: auto;
}
#submit_profile_s2_needed_forms {
    display: inline-block;
    vertical-align: top;
}
.submit_profile_s2_p2_big_header {
    color: #15152E;
    font-family: SVN-Product-Sans-Bold;
    font-size: 32.72pt;
    margin-top: 60px;
    margin-bottom: 30px;
}
.submit_profile_s2_small_headers {
    color: #15152E;
    font-family: SVN-Product-Sans-Bold;
    font-size: 20.21pt;
    margin-bottom: 25px;
}
.submit_profile_s2_nf_list {
    color: #8D6671;
    font-family: SVN-Product-Sans-Regular;
    font-size: 10pt;
    margin-left: 30px;
    margin-bottom: 20px;
}
#submit_profile_s2_recruit_profile {
    display: inline-block;
    width: 50%;
    margin-left: 150px;
}
#submit_profile_s2_recruit_profile_header {
    text-align: center;
}
.submit_profile_s2_rp_list {
    color: #15152E;
    font-family: SVN-Product-Sans-Regular;
    font-size: 10pt;
    margin-left: 30px;
    margin-bottom: 15px;
}
#submit_profile_s3 {
    background-color: #d4c8ca;
    width: 100%;
    height: 68.75rem;

}
#submit_profile_s3_submit_form_p1 {
    padding-top: 120px;
    width: 80%;
    margin: auto;
}
.submit_profile_s3_inputs {
    display: block;
    border: none;
    background-color: #d4c8ca;
    border-bottom: #15152E solid 2px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    color: #8D6671;
    font-family: SVN-Product-Sans-Regular;
    font-size: 19.84pt;
}
.submit_profile_s3_inputs::placeholder {
    color: #8D6671;
    font-family: SVN-Product-Sans-Regular;
    font-size: 19.84pt;
}
.submit_profile_s3_inputs:focus {
    color: #15152E;
}
#submit_profile_s3_submit_form_p2 {
    width: 85%;
    margin: auto;
}
.submit_profile_s3_submit_form_p2_headers {
    margin-left: 20px;
}
#submit_profile_s3_enroll_profile {
    color: #8D6671;
    font-family: SVN-Product-Sans-Regular;
    font-size: 19.84pt;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: auto;

}
#submit_profile_s3_ep_input_label_bkgrnd {
    background-color: white;
    width: 98.85%;
    height: 50px;
    margin-top: 25px;
}
#submit_profile_s3_enroll_profile_input {
    display: none;
}
#submit_profile_s3_enroll_profile_input_label {
    color: #8D6671;
    font-family: SVN-Product-Sans-Regular;
    font-size: 17.01pt;
    margin-left: 30px;
    padding-top: 40px;
}
#submit_profile_s3_scholarship_profile {
    padding-left: 45px;
    color: #8D6671;
    font-family: SVN-Product-Sans-Regular;
    font-size: 19.84pt;
    display: inline-block;
    width: 50%;
    margin: auto;
}
#submit_profile_s3_sp_input_label_bkgrnd {
    background-color: white;
    width: 98.85%;
    height: 50px;
    margin-top: 25px;
}
#submit_profile_s3_scholarship_profile_input {
    display: none;
}
#submit_profile_s3_scholarship_profile_input_label {
    color: #8D6671;
    font-family: SVN-Product-Sans-Regular;
    font-size: 17.01pt;
    margin-left: 30px;
    padding-top: 25px;
}
.submit_profile_s3_upload_buttons {
    height: 50px;
    width: 140px;
    background-color: #15152E;
    border: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: SVN-Product-Sans-Regular;
    font-size: 17.01pt;
}
.submit_profile_s3_upload_buttons:hover {
    cursor: pointer;
}
#submit_profile_s3_question {
    border: none;
    width: 100%;
    height: 50px;
    margin: auto;
    margin-bottom: 90px;
}
#submit_profile_s3_question::placeholder {
    color: #8D6671;
    font-family: SVN-Product-Sans-Regular;
    font-size: 17.01pt;
    padding-left: 30px;
    padding-top: 25px;
}
#submit_profile_s3_signup_button {
    width: 100%;
    height: 50px;
    background-color: #15152E;
    border: none;
    color: white;
    font-family: SVN-Product-Sans-Regular;
    font-size: 17.01pt;
}
#submit_profile_s3_signup_button:hover {
    cursor: pointer;
}
