@font-face {
    font-family: PSBold;
    src: url(../../public/font/SVN-Product\ Sans\ Bold.otf);

}
@font-face {
    font-family: PSRegular;
    src: url(../../public/font/SVN-Product\ Sans\ Regular.otf);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hsvnuk {
    width: 100%;
}

.main-title {
    margin-top: -9rem;
    margin-left: 8rem;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.main-title h2 {
    font-size: 70px;
    color: white;
}

.main-title p {
    width: 49%;
    font-size: 18px;
    color: white;
    line-height: 30px;
}

.trainghiem_ThirdField {
    margin-top: 80px;
    width: 100%;
    height: 1700px;
}

.traingiem_ThirdField-news {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 280px;
}

.trainghiem_ThirdField-news_lines {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
}

.trainghiem_-news {
    width: 25%;
    height: 100px;
    font-family: PSRegular;
    color: black;
    align-content: center;
    margin-right: 70px;
}

.trainghiem_ThirdField-news_lines-date {
    font-size: 20px;
    margin-bottom: 10px;
}

.trainghiem_ThirdField-news_lines-title {
    font-size: 18px;
    color: black;
}

.trainghiem_-news img {
    width: 100%;
    height: 300px;
    margin-bottom: 8px;
    transition: 0.5s all ease-in-out;
}

.trainghiem_-news img:hover {
    transform: scale(1.15);
}

.trainghiem_ThirdField-news+.trainghiem_ThirdField-news {
    margin-top: 30rem;
}

.trainghiem_Forthfield {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 90px;
}

.trainghiem_Forthfield_title {
    width: 30%;
    font-family: PSRegular;
    color: #15152E;
    font-size: 40px;
    margin-left: 70px;
    margin-top: 30px;
}

.trainghiem_sukien {
    max-width: 50%;
    width: 50%;
}

.trainghiem_Forthfield_header-line {
    border: 3px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 62%;
    margin-top: 70px;
    margin-left: -7.5rem;
}


.trainghiem_img_traihe {
    max-width: 100%;
}

.trainghiem_img_traihe .trainghiem_p1 {
    margin-top: 1rem;
    margin-left: 15rem;
    font-family: PSRegular;
}

.trainghiem_p2 {
    margin-left: 15rem;
    font-family: PSRegular;
}

.trainghiem_img_traihe img {
    margin-left: 8rem;
    margin-top: -2rem;
}

.trainghiem_Forthfield_after {
    border: 3px solid black;
    position: relative;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 77%;
    margin-top: 100px;
    margin-left: 6rem;
    margin-bottom: 5rem;
}

.caurong {
    max-width: 100%;
    width: 100%;
}

.caurong img {
    max-width: 73%;
    width: 100%;
    margin-left: 7.5rem;
}

.caurong-both-title-content {
    font-family: PSRegular;
    position: relative;
    top: -17rem;
    left: 10rem;
}

.caurong-title {
    font-size: 30px;
    font-family: PSRegular;
    color: white;
    max-width: 65%; 
    margin-bottom: 1rem;   
}

.caurong-content{
    position: relative;
    line-height: 2rem;
    color: white;
    max-width: 65%; 
    font-family: PSRegular;
    font-size: 18px;
}

.trainghiem2{
    display: flex;
}