@font-face {
    font-family: SVN-Product-Sans-Bold;
    src: url(../../public/font/SVN-Product\ Sans\ Regular.otf);

}
@font-face {
    font-family: SVN-Product-Sans-Regular;
    src: url(../../public/font/SVN-Product\ Sans\ Regular.otf);

}
#section_1_background {
    background-image: url(../assets/img/section_1_bakground.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1190px;
    width: 1480px;
}
#vnuk_logo {
    padding-top: 650px;
    padding-left: 195px;
    display: inline-block;
    vertical-align: top;
    height: 320px;
    width: 1100px;
}
#top_right_corner_icon {
    display: inline-block;
    vertical-align: top;
    padding-left: 1340px;
    padding-top: 30px;
}
#search_icon {
    padding-right: 25px;
}
#section_2_background {
    background-image: url(../assets/img/section2img.png);
    background-size: cover;
    height: 400px;
    width: 1480px;
}
#section_2_text {
    color: #2E2E64;
}
#section_2_header {
    padding-top: 52px;
    padding-left: 665px;
    font-family: SVN-Product-Sans-Bold;
    font-size: 26px;
}
#section_2_body {
    padding-top: 15px;
    padding-left: 825px;
    font-family: SVN-Product-Sans-Regular;
    font-size: 14px;
}
#section_3 {
    background-color: #F4E1D7;
    height: 650px;
    width: 1480px;
}
.section_3_text {
    color: #2E2E64;
}
#books_group {
    display: inline-block;
}
#books_icon {
    display: inline-block;
    vertical-align: top;
    padding-top: 70px;
    padding-left: 55px;
    height: 85px;
    width: 110px;
}
#books_text {
    display: inline-block;
    padding-left: 20px;
    padding-top: 50px;

}
#books_header {
    font-family: SVN-Product-Sans-Bold;
    font-size: 13.38pt;
}
#books_body {
    font-family: SVN-Product-Sans-Regular;
    font-size: 9.13pt;
}
#globe_group {
    display: inline-block;
}

#globe_text {
    display: inline-block;
    position: relative;
    padding-left: 20px;

}
#globe_icon {
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
    padding-left: 25px;
    height: 85px;
    width: 100px;
}
#globe_header {
    font-family: SVN-Product-Sans-Bold;
    padding-bottom: 3px;
    font-size: 13.38pt;
}
#globe_body {
    position: relative;
    font-family: SVN-Product-Sans-Regular;
    font-size: 9.13pt;
}
#degree_group {
    display: inline-block;
}

#degree_text {
    display: inline-block;
    position: relative;
    padding-left: 20px;

}
#degree_icon {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    padding-left: 25px;
    height: 85px;
    width: 80px;
}
#degree_header {
    font-family: SVN-Product-Sans-Bold;
    padding-bottom: 20px;
    font-size: 13.38pt;
}
#degree_body {
    position: relative;
    font-family: SVN-Product-Sans-Regular;
    font-size: 9.13pt;
}
#school_group {
    display: inline-block;
}

#school_text {
    display: inline-block;
    position: relative;
    padding-left: 20px;

}
#school_icon {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    padding-left: 25px;
    height: 85px;
    width: 100px;
}
#school_header {
    font-family: SVN-Product-Sans-Bold;
    padding-bottom: 20px;
    font-size: 13.38pt;
}
#school_body {
    position: relative;
    font-family: SVN-Product-Sans-Regular;
    font-size: 9.13pt;
}
#section_3_border {
    margin: auto;
    margin-top: 90px;
    border-bottom: solid #2E2E64 1px;
    width: 1250px;
}
#link_header_group {
    padding-top: 20px;
    padding-left: 120px;
}
#link_icon {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 40px;
}
#link_header {
    font-family: SVN-Product-Sans-Bold;
    font-size: 21.73pt;
    display: inline-block;

}
.link_table_row {
    font-family: SVN-Product-Sans-Regular;
    font-size: 13.38pt;
}
#link_table {
    padding-top: 65px;
}
.link_table_data_1 {
    padding-left: 170px;
    padding-bottom: 30px;
}
.link_table_data_2 {
    padding-left: 215px;
    /* padding-bottom: 10px; */
}
.link_table_data_3 {
    padding-left: 210px;
    /* padding-bottom: 10px; */
}
#section_4_1st_half {
    background-image: url(../assets/img/section4bgrnd.png);
    background-color: #2E2E64;
    background-size: cover;
    background-repeat: no-repeat;
    height: 577px;
    width: 1480px;
}
.section_4_backgrnd {
    background-color: #3f3f63;
    height: 100px;
    width: 1480px;
}
.section_4_th {
    height: 100px;
    width: 367px;
    background-color: #3f3f63;
    padding: 0px;
    display: inline-block;
    font-family: SVN-Product-Sans-Bold;
    border: none;
    font-size: 30.87px;
    color: #F4E1D7;
}
.section_4_th:hover {
    background-color: #737181;
    cursor: pointer;
}
#s4_vd_background {
    background-color: #1C1C2B;
    width: 1480px;
    height: 600px;
}
#vd_plc_hldr {
    padding-left: 100px;
    padding-top: 150px;
    display: inline-block;
    vertical-align: top;
}
#section_4_video_section_text {
    padding-left: 30px;
    padding-top: 140px;
    display: inline-block;
    color: #F4E1D7;
    font-family: SVN-Product-Sans-Regular;
    font-size: 20px;
}
#section_5_background {
    background-image: url(../assets/img/section-5-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 1480px;
}
.section_5_th {
    padding-top: 180px;
    padding-left: 30px;
    font-family: SVN-Product-Sans-Bold;
    color: #15152E;
    font-size: 36px;
}
#section_5_th1 {
    padding-left: 60px;
}
#section_5_tbody {
    font-family: SVN-Product-Sans-Regular;
    font-size: 17px;
    color: #15152E;
}
#section_5_td_1 {
    padding-left: 50px;
}
#section_5_td_2 {
    padding-top: 21px;
    padding-left: 50px;
}
#section_5_td_3 {
    padding-bottom: 25px;
    padding-left: 50px;
}