@font-face {
    font-family: PSBold;
    src: url(../../public/font/SVN-Product\ Sans\ Bold.otf);

}

@font-face {
    font-family: PSRegular;
    src: url(../../public/font/SVN-Product\ Sans\ Regular.otf);

}

.visit {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.visit_1Field {
    width: 100%;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* background-image: url("../assets/img/visit1.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    height: 850px;
    overflow: hidden;
}

#visit_1Field-img {
    width: 100%;
    object-fit: cover;
    height: 850px;
    z-index: -2;
    /* -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, white); */


}

#visit_1Field-text {
    font-family: sans-serif;
    font-weight: 190;
    font-size: 88px;
    z-index: 10;
    margin-left: 70px;
    color: black;
    margin-top: -800px;
}

.visit_2Field {
    width: 100%;
    margin-left: 200px;
    margin-top: 70px;
    margin-right: 200px;
    text-align: justify;
}

.visit_2Field-title {
    margin-bottom: 30px;
    width: 100%;
    font-weight: 400;
    font-size: 35px;
}

#visit_2Field-li {
    margin-bottom: 30px;
    width: 100%;
    font-size: 18px;
    margin-left: 60px;
}

#visit_2Field-p {
    max-width: 100%;
    text-align: justify;
    font-size: 19px;
    margin-bottom: 50px;
}

.visit_2Field-title2 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 25px;
}

.visit_2Field-button_container {
    width: 100%;
    display: flex;
    margin-right: 200px;
    flex-direction: column;
}

.visit_2Field-button {
    width: 80%;
    background-color: #b8909b4b;
    margin-bottom: 20px;
    text-align: left;
    color: #be7186;
    height: 100px;
    font-size: 20px;
    padding-left: 55px;
    border: none;
}

.visit_2Field-button_dropdowntext {
    width: 80%;
    font-size: 17px;
    margin-top: -10px;
    color: black;
    margin-bottom: 30px;
}

#visit_signbtn {
    width: 15%;
    height: 70px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 54%;
    font-size: 20px;
    color: white;
    background-color: #202045;
    margin-top: 40px;
}

.visit_3Field {
    width: 80%;
    border-top: solid black 3px;
    height: 490px;
    margin-top: 100px;
    margin-left: 200px;
}

.visit_3Field-title1 {
    font-size: 37px;
    margin-top: 30px;
    color: #be7186;
}

.visit_3Field-text1 {
    color: black;
    font-size: 19px;
    margin-top: 10px;
    margin-left: 20px;
}