@font-face {
    font-family: PSRegular;
    src: url(../../../public/font/SVN-Product\ Sans\ Regular.otf);
}

@font-face {
    font-family: PSBold;
    src: url(../../../public/font/SVN-Product\ Sans\ Bold.otf);
}

.Navbar {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    max-width: 1480px;
    overflow: hidden;
    /* height: 78px; */

}

a {
    text-decoration: none;
    color: #202045;
}

.leftNav {
    float: left;
    margin-top: 35px;
    margin-left: 72px;
    display: flex;
    flex-direction: row;
}

.leftNav ul {
    list-style: none;
    display: inline-flex;
}

#trang-chu-bt {
    color: #15152e;
    font-size: 17.53pt;
    font-family: PSBold;
}

.dropbtn {
    color: #15152e;
    font-size: 17.53pt;
    margin-left: 50px;
    font-family: PSBold;
    border: none;
    background-color: inherit;
    outline: none;
}

.submenu1 {
    display: none;
}

.submenu1 a {
    color: white;
    text-align: left;
    font-size: 16.53px;
    font-family: PSRegular;
    /* margin-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
*/
}
/* .submenu1 a:last-child {
    margin-bottom: 20px;
} */


.leftNav ul li:hover .submenu1{
    display: block;
    position: absolute;
    background-color: #202045;
    /* margin-top: 2px; */
    margin-left: 20px;
}

.leftNav ul li:hover .submenu1 ul{
    display: block;
    padding-left: 0;
    /* margin-bottom: 10px;
    padding-right: 10px ; */
}

.leftNav ul li:hover .submenu1 ul li {
    width: 150px;
    padding: 10px;
    padding-left: 40px;
    text-align: left;
}

.leftNav ul li:hover .submenu1 ul li:hover {
    background-color: #b8909b;
}

.submenu2 {
    display: none;
}

.hoverme:hover .submenu2{
    position: absolute;
    display: block;
    margin-top: -37px;
    margin-left: 160px;
    background-color: #1f2e50;
}
