@font-face {
    font-family: PSBold;
    src: url(../../../public/font/SVN-Product\ Sans\ Bold.otf);

}
@font-face {
    font-family: PSRegular;
    src: url(../../../public/font/SVN-Product\ Sans\ Regular.otf);

}
/* #fb_icon {
    padding: 25px 40px 25px 30px;
    height: 30px;
    width: 15px;
}
#yt_icon {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 25px;
    height: 30px;
    width: 40px;
}
#ins_icon {
    padding-top: 30px;
    padding-bottom: 25px;
    height: 30px;
    width: 30px;
}
#footer {
    height: 715px;
    width: 1480px;
    background-color: #15152E;
}
#footer_table1 {
    padding-top: 90px;
    margin-left: 25px;
    margin-right: 25px;
    color: #8D6671;
}
#table_border {
    padding-top: 30px;
    border-bottom:  3px solid #8D6671;
}
.footer_th {
    font-family: SVN-Product-Sans-Bold;
    font-size: 25.79px;
    padding-right: 165px;
}
.footer_th4 {
    font-family: SVN-Product-Sans-Bold;
    font-size: 25.79px;
}
#footer_table2 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    font-family: SVN-Product-Sans-Regular;
    color: #8D6671;
}
#ft2_td2 {
    padding-bottom: 113px;
    padding-left: 127px;
}
#ft2_td3 {
    padding-bottom: 81px;
    padding-left: 250px;
}
#ft2_td4 {
    padding-bottom: 96px;
    padding-left: 119px;
}
#footer_end {
    margin-top: 120px;
    height: 147px;
    width: 1480px;
    background-color: #8d667149;
    color: #8D6671;
}
#footer_end_text {
    font-family: SVN-Product-Sans-Regular;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    padding-left: 70px;
    padding-top: 50px;
}
#contact_button {
    margin-top: 3.5px;
    margin-left: 1250px;
    height: 46px;
    width: 184px;
    background-color: #8D6671;
    border: none;
    color: #1C1C2B;
    font-size: 24.43px;
} */

.footer {
    margin: 0;
    padding: 0;
    width: 100%;
}

.firstField {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 55px;
    height: 500px;
    background-color: #202045;
}

.imgfield {
    width: 100%;
    height: 50px;
    float: left;
    margin-bottom: 70px;
}

.imgfield img:first-child {
    width: 15px;
    height: 30px;
    margin-left: 35px;
}

.imgfield img:last-child {
    height: 30px;
    width: 40px;
    margin-left: 52px;

}

.imgfield img {
    height: 30px;
    float: left;
    margin-left: 48px;
}

.title {
    display: flex;
    width: 100%;
    flex-direction: row;
}

/* #title1 {
    width: 19%;
} */

.title h1 {
    width: 25%;
    font-family: PSRegular;
    color: #b8909b;
}

.title h1:last-child {
    margin-right: 40px;
}

.title h1:first-child {
    margin-left: -15px;
}

#title2 {
    margin-left: -20px;
}

#title3 {
    margin-left: -10px;
}